html {
  background: black; width: 100%; height: 100%;
}
body {
  background: black; width: 100%; height: 100%;
}
h1 {
  color:#33ff3b;
}
div {
  margin: auto;
  width: 100%;
  border: 3px solid green;
  padding: 10px;
}
